.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/Makefile
build/my_ffmpeg_opencv_program
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-545e9c62db4ad7fa3929.json
build/.cmake/api/v1/reply/cmakeFiles-v1-94c6855c89b3ef3ca2f8.json
build/.cmake/api/v1/reply/codemodel-v2-89746928cdd104ac2c79.json
build/.cmake/api/v1/reply/index-2024-08-19T21-18-22-0844.json
build/.cmake/api/v1/reply/target-my_ffmpeg_opencv_program-Debug-abc54d61442c36bca9fb.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdC/a.out
build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/my_ffmpeg_opencv_program.dir/build.make
build/CMakeFiles/my_ffmpeg_opencv_program.dir/cmake_clean.cmake
build/CMakeFiles/my_ffmpeg_opencv_program.dir/CXX.includecache
build/CMakeFiles/my_ffmpeg_opencv_program.dir/depend.internal
build/CMakeFiles/my_ffmpeg_opencv_program.dir/depend.make
build/CMakeFiles/my_ffmpeg_opencv_program.dir/DependInfo.cmake
build/CMakeFiles/my_ffmpeg_opencv_program.dir/flags.make
build/CMakeFiles/my_ffmpeg_opencv_program.dir/link.txt
build/CMakeFiles/my_ffmpeg_opencv_program.dir/main.cpp.o
build/CMakeFiles/my_ffmpeg_opencv_program.dir/progress.make
build/.cmake/api/v1/reply/cmakeFiles-v1-02799ca40993a38e28e7.json
build/.cmake/api/v1/reply/index-2024-08-19T22-09-08-0884.json
temp.txt
build/WebCamTest
build/.cmake/api/v1/reply/cache-v2-a61f880983a8c0b3419b.json
build/.cmake/api/v1/reply/codemodel-v2-5fc415d780a5ea2cd3ea.json
build/.cmake/api/v1/reply/index-2024-08-23T14-45-40-0547.json
build/.cmake/api/v1/reply/target-WebCamTest-Debug-8cc45969ed7544f6cd33.json
build/CMakeFiles/WebCamTest.dir/build.make
build/CMakeFiles/WebCamTest.dir/camera_grab.cpp.o
build/CMakeFiles/WebCamTest.dir/cmake_clean.cmake
build/CMakeFiles/WebCamTest.dir/CXX.includecache
build/CMakeFiles/WebCamTest.dir/depend.internal
build/CMakeFiles/WebCamTest.dir/depend.make
build/CMakeFiles/WebCamTest.dir/DependInfo.cmake
build/CMakeFiles/WebCamTest.dir/flags.make
build/CMakeFiles/WebCamTest.dir/link.txt
build/CMakeFiles/WebCamTest.dir/main.cpp.o
build/CMakeFiles/WebCamTest.dir/progress.make
build/.cmake/api/v1/reply/index-2024-08-23T21-35-12-0985.json
build/.cmake/api/v1/reply/index-2024-08-25T14-41-16-0747.json
build/raw/00001.raw
build/raw/00002.raw
build/raw/00003.raw
build/raw/00004.raw
build/raw/00005.raw
build/raw/00006.raw
build/raw/00007.raw
build/raw/00008.raw
build/raw/00009.raw
build/raw/000010.raw
build/raw/000011.raw
build/raw/000012.raw
build/raw/000013.raw
build/raw/000014.raw
build/raw/000015.raw
build/raw/000016.raw
build/raw/000017.raw
build/raw/000018.raw
build/raw/000019.raw
build/raw/000020.raw
build/raw/000021.raw
build/raw/000022.raw
build/raw/000023.raw
build/raw/000024.raw
build/raw/000025.raw
build/raw/000026.raw
build/raw/000027.raw
build/raw/000028.raw
build/raw/000029.raw
build/raw/000030.raw
build/raw/000031.raw
build/raw/000032.raw
build/raw/000033.raw
build/raw/000034.raw
build/raw/000035.raw
build/raw/000036.raw
build/raw/000037.raw
build/raw/000038.raw
build/raw/000039.raw
build/raw/000040.raw
build/raw/000041.raw
build/raw/000042.raw
build/raw/000043.raw
build/raw/000044.raw
build/raw/000045.raw
build/raw/000046.raw
build/raw/000047.raw
build/raw/000048.raw
build/raw/000049.raw
build/raw/000050.raw
build/raw/000051.raw
build/raw/000052.raw
build/raw/000053.raw
build/raw/000054.raw
build/raw/000055.raw
build/raw/000056.raw
build/raw/000057.raw
build/raw/000058.raw
build/raw/000059.raw
build/raw/000060.raw
build/raw/000061.raw
build/raw/000062.raw
build/raw/000063.raw
build/raw/000064.raw
build/raw/000065.raw
build/raw/000066.raw
build/raw/000067.raw
build/raw/000068.raw
build/raw/000069.raw
build/raw/000070.raw
build/raw/000071.raw
build/raw/000072.raw
build/raw/000073.raw
build/raw/000074.raw
build/raw/000075.raw
build/raw/000076.raw
build/raw/000077.raw
build/raw/000078.raw
build/raw/000079.raw
build/raw/000080.raw
build/raw/000081.raw
build/raw/000082.raw
build/raw/000083.raw
build/raw/000084.raw
build/raw/000085.raw
build/raw/000086.raw
build/raw/000087.raw
build/raw/000088.raw
build/raw/000089.raw
build/raw/000090.raw
build/raw/000091.raw
build/raw/000092.raw
build/raw/000093.raw
build/raw/000094.raw
build/raw/000095.raw
build/raw/000096.raw
build/raw/000097.raw
build/raw/000098.raw
build/raw/000099.raw
build/raw/0000100.raw
build/raw/0000101.raw
build/raw/0000102.raw
build/raw/0000103.raw
build/raw/0000104.raw
build/raw/0000105.raw
build/raw/0000106.raw
build/raw/0000107.raw
build/raw/0000108.raw
build/raw/0000109.raw
build/raw/0000110.raw
build/raw/0000111.raw
build/raw/0000112.raw
build/raw/0000113.raw
build/raw/0000114.raw
build/raw/0000115.raw
build/raw/0000116.raw
build/raw/000117.raw
build/raw/000118.raw
build/raw/000119.raw
build/raw/000120.raw
build/raw/000121.raw
build/raw/000122.raw
build/raw/000123.raw
build/raw/000124.raw
build/raw/000125.raw
build/raw/000126.raw
build/raw/000127.raw
build/raw/000128.raw
build/raw/000129.raw
build/raw/000130.raw
build/raw/000131.raw
build/raw/000132.raw
build/raw/000133.raw
build/raw/000134.raw
build/raw/000135.raw
build/raw/000136.raw
build/raw/000137.raw
build/raw/000138.raw
build/raw/000139.raw
build/raw/000140.raw
build/raw/000141.raw
build/raw/000142.raw
build/raw/000143.raw
build/raw/000144.raw
build/raw/000145.raw
build/raw/000146.raw
build/raw/000147.raw
build/raw/000148.raw
build/raw/000149.raw
build/raw/000150.raw
build/raw/000151.raw
build/raw/000152.raw
build/raw/000153.raw
build/raw/000154.raw
build/raw/000155.raw
build/raw/000156.raw
build/raw/000157.raw
build/raw/000158.raw
build/raw/000159.raw
build/raw/000160.raw
build/raw/000161.raw
build/raw/000162.raw
build/raw/000163.raw
build/raw/000164.raw
build/raw/000165.raw
build/raw/000166.raw
build/raw/000167.raw
build/raw/000168.raw
build/raw/000169.raw
build/raw/000170.raw
build/raw/rename_diles.sh
raw/24-06-03-04-30-10.raw
raw/24-06-03-04-31-09.raw
raw/24-06-03-04-32-06.raw
raw/24-06-03-04-35-02.raw
raw/24-06-03-04-37-06.raw
raw/rename_diles.sh
build/.cmake/api/v1/reply/target-WebCamTest-Debug-ec3ae9597c82e9aa73da.json
build/.cmake/api/v1/reply/index-2024-08-25T16-59-37-0720.json
build/.cmake/api/v1/reply/codemodel-v2-9946b4b00b6006d96add.json
build/raw/000171.raw
build/raw/000172.raw
build/raw/000173.raw
build/raw/000174.raw
build/raw/000175.raw
build/raw/000176.raw
build/raw/000177.raw
build/raw/000178.raw
build/raw/000179.raw
build/raw/000180.raw
build/raw/000181.raw
build/raw/000182.raw
build/raw/000183.raw
build/raw/000184.raw
build/raw/000185.raw
build/raw/000186.raw
build/tif/000001.tif
build/tif/000002.tif
build/tif/000003.tif
build/tif/000004.tif
build/tif/000005.tif
build/tif/000006.tif
build/tif/000007.tif
build/tif/000008.tif
build/tif/000009.tif
build/tif/000010.tif
build/tif/000011.tif
build/tif/000012.tif
build/tif/000013.tif
build/tif/000014.tif
build/tif/000015.tif
build/tif/000016.tif
build/tif/000017.tif
build/tif/000018.tif
build/tif/000019.tif
build/tif/000020.tif
build/tif/000021.tif
build/tif/000022.tif
build/tif/000023.tif
build/tif/000024.tif
build/tif/000025.tif
build/tif/000026.tif
build/tif/000027.tif
build/tif/000028.tif
build/tif/000029.tif
build/tif/000030.tif
build/tif/000031.tif
build/tif/000032.tif
build/tif/000033.tif
build/tif/000034.tif
build/tif/000035.tif
build/tif/000036.tif
build/tif/000037.tif
build/tif/000038.tif
build/tif/000039.tif
build/tif/000040.tif
build/tif/000041.tif
build/tif/000042.tif
build/tif/000043.tif
build/tif/000044.tif
build/tif/000045.tif
build/tif/000046.tif
build/tif/000047.tif
build/tif/000048.tif
build/tif/000049.tif
build/tif/000050.tif
build/tif/000051.tif
build/tif/000052.tif
build/tif/000053.tif
build/tif/000054.tif
build/tif/000055.tif
build/tif/000056.tif
build/tif/000057.tif
build/tif/000058.tif
build/tif/000059.tif
build/tif/000060.tif
build/tif/000061.tif
build/tif/000062.tif
build/tif/000063.tif
build/tif/000064.tif
build/tif/000065.tif
build/tif/000066.tif
build/tif/000067.tif
build/tif/000068.tif
build/tif/000069.tif
build/tif/000070.tif
build/tif/000071.tif
build/tif/000072.tif
build/tif/000073.tif
build/tif/000074.tif
build/tif/000075.tif
build/tif/000076.tif
build/tif/000077.tif
build/tif/000078.tif
build/tif/000079.tif
build/tif/000080.tif
build/tif/000081.tif
build/tif/000082.tif
build/tif/000083.tif
build/tif/000084.tif
build/tif/000085.tif
build/tif/000086.tif
build/tif/000087.tif
build/tif/000088.tif
build/tif/000089.tif
build/tif/000090.tif
build/tif/000091.tif
build/tif/000092.tif
build/tif/000093.tif
build/tif/000094.tif
build/tif/000095.tif
build/tif/000096.tif
build/tif/000097.tif
build/tif/000098.tif
build/tif/000099.tif
build/tif/000100.tif
build/tif/000101.tif
build/tif/000102.tif
build/tif/000103.tif
build/tif/000104.tif
build/tif/000105.tif
build/tif/000106.tif
build/tif/000107.tif
build/tif/000108.tif
build/tif/000109.tif
build/tif/000110.tif
build/tif/000111.tif
build/tif/000112.tif
build/tif/000113.tif
build/tif/000114.tif
build/tif/000115.tif
build/tif/000116.tif
build/tif/000117.tif
build/tif/000118.tif
build/tif/000119.tif
build/tif/000120.tif
build/tif/000121.tif
build/tif/000122.tif
build/tif/000123.tif
build/tif/000124.tif
build/tif/000125.tif
build/tif/000126.tif
build/tif/000127.tif
build/tif/000128.tif
build/tif/000129.tif
build/tif/000130.tif
build/tif/000131.tif
build/tif/000132.tif
build/tif/000133.tif
build/tif/000134.tif
build/tif/000135.tif
build/tif/000136.tif
build/tif/000137.tif
build/tif/000138.tif
build/tif/000139.tif
build/tif/000140.tif
build/tif/000141.tif
build/tif/000142.tif
build/tif/000143.tif
build/tif/000144.tif
build/tif/000145.tif
